*.tar
*.tar.gz
*report.json
.*cache
__pycache__
target
TA_github_reader/TA_github_reader/linux_x86_64/bin/github
TA_SSPHP/output
*#*
**_DEV
TA_SSPHP/tests/SPLUNK_HOME
.python_packages
.DS_Store
.terraform
.terraform.lock.hcl
rustc-ice*.txt