[m365]
definitions = { endpoint = "/v1.0/identityGovernance/accessReviews/definitions", permissions_required = [
  "",
], cis_controls = [
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "5.1.1" },
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "5.1.2" },
] }

# domains = { endpoint = "/v1.0/domains", permissions_required = [
#   "",
# ], cis_controls = [
#   { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "" },
#   { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "" },
# ] }

group_settings = { endpoint = "/v1.0/groupSettings", permissions_required = [
  "",
], cis_controls = [
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "1.1.9" },
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "1.1.10" },
] }

groups = { endpoint = "/v1.0/groups", permissions_required = [
  "",
], cis_controls = [
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "1.1.16" },
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "" },
] }

conditional_access_polices = { endpoint = "/v1.0/identity/conditionalAccess/policies", permissions_required = [
  "",
], cis_controls = [
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "1.1.3" },
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "1.1.6" },
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "1.1.11" },
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "1.1.13" },    
] }

named_locations = { endpoint = "/v1.0/identity/conditionalAccess/namedLocations", permissions_required = [
  "",
], cis_controls = [
  { filename = "CIS_Microsoft_Azure_Foundations_Benchmark_v2.0.0.pdf", control_id = "1.2.1" },
] }

admin_consent_request_policy = { endpoint = "/v1.0/policies/adminConsentRequestPolicy", permissions_required = [
  "",
], cis_controls = [
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "" },
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_ = "" },
] }

authentication_methods_policy = { endpoint = "/v1.0/policies/authenticationMethodsPolicy", permissions_required = [
  "",
], cis_controls = [
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "" },
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "" },
] }

identity_security_defaults = { endpoint = "/v1.0/policies/identitySecurityDefaultsEnforcementPolicy", permissions_required = [
  "",
], cis_controls = [
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "" },
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "" },
] }

permission_grant_policies = { endpoint = "/v1.0/policies/permissionGrantPolicies", permissions_required = [
  "",
], cis_controls = [
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "" },
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "" },
] }

permission_grant_policies_beta = { endpoint = "/beta/policies/permissionGrantPolicies", permissions_required = [
  "",
], cis_controls = [
] }

# Azure support recommended using the beta endpoint
role_assignment_schedule_instances = { endpoint = "/beta/roleManagement/directory/roleAssignmentScheduleInstances?$expand=activatedUsing,appScope,directoryScope,principal,roleDefinition", permissions_required = [
  "",
], cis_controls = [
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "1.1.15" },
] }

role_assignment_schedules = { endpoint = "/beta/roleManagement/directory/roleAssignmentSchedules?$expand=activatedUsing,appScope,directoryScope,principal,roleDefinition", permissions_required = [
  "",
], cis_controls = [
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "1.1.15" },
] }


role_eligibility_schedules = { endpoint = "/beta/roleManagement/directory/roleEligibilitySchedules?$expand=appScope,directoryScope,principal,roleDefinition", permissions_required = [
  "",
], cis_controls = [
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "1.1.15" },
] }

role_eligibility_schedule_instances = { endpoint = "/beta/roleManagement/directory/roleEligibilityScheduleInstances?$expand=appScope,directoryScope,principal,roleDefinition", permissions_required = [
  "",
], cis_controls = [
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "1.1.15" },
] }

token_lifetime_policies = { endpoint = "/v1.0/policies/tokenLifetimePolicies", permissions_required = [
  "",
], cis_controls = [
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "" },
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "" },
] }

admin_forms = { endpoint = "/beta/admin/forms", permissions_required = [
  "",
], cis_controls = [
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "2.10" },
] }

role_definitions = { endpoint = "/beta/roleManagement/directory/roleDefinitions", permissions_required = [
  "",
], cis_controls = [
  { filename = "CIS_Microsoft_Azure_Foundations_Benchmark_v2.0.0.pdf", control_id = ""},
] }

legacy_policies = { endpoint = "/beta/legacy/policies", permissions_required = [
  "",
], cis_controls = [
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "1.1.17" },
] }

authorization_policy = { endpoint = "/v1.0/policies/authorizationPolicy", permissions_required = [
  "",
], cis_controls = [
  { filename = "CIS_Microsoft_Azure_Foundations_Benchmark_v2.0.0.pdf", control_id = "1.1.16", control_logic="allowInvitesFrom=adminsAndGuestInviters"  },
  { filename = "CIS_Microsoft_Azure_Foundations_Benchmark_v2.0.0.pdf", control_id = "1.1.19", control_logic='"defaultUserRolePermissions.allowedToCreateSecurityGroups"=true'  },
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "1.1.22" },
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "2.7" },
] }


authorization_policy_beta = { endpoint = "/beta/policies/authorizationPolicy", permissions_required = [
  "",
], cis_controls = [
  { filename = "CIS_Microsoft_Azure_Foundations_Benchmark_v2.0.0.pdf", control_id = "1.1.16", control_logic="allowInvitesFrom=adminsAndGuestInviters"  },
  { filename = "CIS_Microsoft_Azure_Foundations_Benchmark_v2.0.0.pdf", control_id = "1.1.19", control_logic='"defaultUserRolePermissions.allowedToCreateSecurityGroups"=true'  },
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "1.1.22" },
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "2.7" },    
] }

device_registration_policy = { endpoint = "/beta/policies/deviceRegistrationPolicy", permissions_required = [
  "",
], cis_controls = [
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "" },
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "" },
] }

secure_scores = { endpoint = "/v1.0/security/secureScores", permissions_required = [
  "",
], cis_controls = [
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "1.7" },
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "6.2" },
] }

secure_scores_beta = { endpoint = "/beta/security/secureScores", permissions_required = [
  "",
], cis_controls = [
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "1.7" },
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "6.2" },
] }

secure_scores_control_profiles = { endpoint = "/v1.0/security/secureScoreControlProfiles", permissions_required = [
  "",
], cis_controls = [
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "1.7" },
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "6.2" },
] }

secure_scores_control_profiles_beta = { endpoint = "/beta/security/secureScoreControlProfiles", permissions_required = [
  "",
], cis_controls = [
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "1.7" },
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "6.2" },
] }

user_registration_details = { endpoint = "/beta/reports/authenticationMethods/userRegistrationDetails", permissions_required = [
  "",
], cis_controls = [
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "1.1.2" },
] }

organization = { endpoint = "/v1.0/organization", permissions_required = [
  "",
], cis_controls = [
  { filename = "CIS_Microsoft_365_Foundations_Benchmark_v2.0.0.pdf", control_id = "1.1.12" },
] }

beta_group_settings = { endpoint = "/beta/settings", permissions_required = [
  "",
], cis_controls = [
  { filename = "CIS_Microsoft_Azure_Foundations_Benchmark_v2.0.0.pdf", control_id = "1.1.20", control_logic="""| spath output=value "values{}.value"
| spath output=name "values{}.name"
| eval zipped=mvzip(name,value)
| mvexpand zipped
| where zipped="EnableGroupCreation,false"""  },
] }

