---
name: DCAP New Production Deploy

# on:
#   push:
#     branches:
#       - main
#     paths:
#       - DCAP/**
#   workflow_dispatch:

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          repository: DFE-Digital/ssphp-splunkcloud-app-packager
          ssh-key: ${{ secrets.SPLUNK_PACKAGER_GITHUB_DEPLOY_KEY }}

      - name: toolchain
        id: toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly-2025-11-19
          components: rust-src

      - name: Cache build artifacts
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo
            ${{ github.workspace }}/target
          key: cargo_build_cache-rust-target-${{ steps.toolchain.outputs.name}}-${{ hashFiles('Cargo.lock') }}

      - name: cargo build
        run: cargo build --release

      - name: SHA256 for release binary
        run: sha256sum target/release/splunkcloud-app-packager

      - name: Upload bin
        uses: actions/upload-artifact@v4
        with:
          name: splunkcloud-app-packager_${{ github.sha }}
          path: target/release/splunkcloud-app-packager
          if-no-files-found: error
          compression-level: 9


  deploy:
    needs: [build]

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          name: splunkcloud-app-packager_${{ github.sha }}
          # path: splunkcloud-app-packager

      - name: Set binary to +x
        run: chmod +x splunkcloud-app-packager

      - name: SHA256 for release binary
        run: sha256sum splunkcloud-app-packager

      - name: Run terraform
        env:
          SPLUNK_USERNAME: ${{ secrets.SPLUNK_USERNAME }}
          SPLUNK_PASSWORD: ${{ secrets.SPLUNK_PASSWORD }}
          SPLUNK_ACS_TOKEN: ${{ secrets.SPLUNK_ACS_TOKEN }}
          SPLUNK_ACS_STACK: ${{ secrets.SPLUNK_ACS_STACK }}
        run: splunkcloud-app-packager -a DCAP #--environment prod


